.App {
  text-align: center;
  background-color: #6beeee;

}

.App-logo {
  height: 50px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /* animation: App-logo-spin infinite 20s linear; */

  }
}

.App-header {
  min-height: 5vh;
  padding-top: 10px;

  display: flex;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.step-item {
  display: "flex";
  align-items: "center";
  margin-bottom: "20px";
}

.main-app {
  min-height: 95vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
  font-weight: 900;
  font-family: Consolas,Menlo,"courier new",monospace;
  padding-right:100px;
  padding-left: 100px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.signin-btn {
  cursor: pointer;  
}

.signout-btn {
  margin: 10px;  
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  color: #fff;
  background-color: rgb(221, 15, 15);
  border-color: rgb(221, 15, 15);
  cursor: pointer;
}

.unsubscribe-btn {
  margin: 10px;  
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  color: #fff;
  background-color: rgb(221, 15, 15);
  border-color: rgb(221, 15, 15);
  cursor: pointer;
}

.subscribe-btn {
  margin: 10px;  
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
}

